<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Salvar Veículo</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Formulário de Veículo</h1>

<form th:action="${veiculo.id == null} ? @{/veiculo/save} : @{/veiculo/update}"
      th:object="${veiculo}" method="post">

    <input type="hidden" th:field="*{id}">

    <label>Marca:</label>
    <input type="text" th:field="*{marca}" placeholder="Marca do veículo">
    <br><br>

    <label>Modelo:</label>
    <input type="text" th:field="*{modelo}" placeholder="Modelo do veículo">
    <br><br>

    <label>Preço:</label>
    <input type="number" step="0.01" th:field="*{preco}" placeholder="Preço">
    <br><br>

    <label>Ano de Fabricação:</label>
    <input type="number" th:field="*{anoFabricacao}" placeholder="Ano de fabricação">
    <br><br>

    <input type="submit" value="Enviar">

</form>

</body>
</html>
